<header>
    <nav class="navbar-dark navbar-expand-lg bg-dark bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">Paulo Fagandini</a>
            <span style="position:absolute;top:20px;right:20px">
                <!-- Your social links stay the same -->
                 <a href="www.linkedin.com/in/paulo-fagandini" style="padding:5px; color:lightgrey"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://scholar.google.com/citations?user=wcwIxb4AAAAJ&hl=en" style="padding:5px; color:lightgrey"><i class="ai ai-google-scholar ai-2x"></i></a>
                <a href="https://orcid.org/0000-0002-5386-2160" style="padding:5px; color:lightgrey"><i class="ai ai-orcid ai-2x"></i></a>
                <a href="https://github.com/pfagandini" style="padding:5px; color:lightgrey"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://www.cienciavitae.pt/4011-5942-8AAD" style="padding:5px; color:lightgrey"><i class="ai ai-ciencia-vitae ai-2x"></i></a>
                <a href="https://ideas.repec.org/f/pfa431.html" style="padding:5px; color:lightgrey"><i class="ai ai-ideas-repec ai-2x"></i></a>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
       
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav sticky-top">
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains 'index' %}active{% endif %}" 
                           href="{{ '/' | relative_url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains 'research' %}active{% endif %}" 
                           href="{{ '/research.html' | relative_url }}">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains 'teaching' %}active{% endif %}" 
                           href="{{ '/teaching.html' | relative_url }}">Teaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains 'cv' %}active{% endif %}" 
                           href="{{ '/cv.html' | relative_url }}">Curriculum Vitae</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains 'contact' %}active{% endif %}" 
                           href="{{ '/contact.html' | relative_url }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>